* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #000000;
}

.container{
    width: 100%;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

.img-nav{
   width: 50px;
}

.menu{
    display: none;
    padding: 10px 20px;
}

.span{
    display: flex;
    width: 35px;
    height: 3px;
    background: #fff;
    position: relative;
    transition: background 0.1s;
}

.span.active{
    background: transparent;
}

.span::after{
    content: "";
    position: absolute;
    background: #fff;
    top: 10px;
    left: 0;
    width: 35px;
    height: 3px;
    transition: transform 0.5s;
}

.span.active::after{
    transform: rotate(-45deg);
    top: 0;
}

.span::before{
    content: "";
    position: absolute;
    background: #fff;
    bottom: 10px;
    left: 0;
    width: 35px;
    height: 3px;
    transition: transform 0.5s;
}

.span.active::before{
    transform: rotate(45deg);
    bottom: 0;
}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-item.active{
    display: flex;
}

.nav-item__link{
    display: block;
    padding: 0 10px;
}

.nav-item__link.active{
    background: transparent;
}

.nav-item__link a{
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    transition: .3s;
}

.nav-item__link a:hover{
    color: #cedd49;
}

.numbers{
    padding: 15px;
    background: #e6e5e93b;
    max-width: 515px;  
} 

.main-number{
    display: flex;
    align-items: center;
}

.main-number a{
    color: #000;
    font-size: 45px;
    text-decoration: none;
    transition: .3s;
}

.main-number a:hover{
    color: #006fb9 ;
}

.main-number__arrow{
    width: 72px;
    margin-left: auto;
    cursor: pointer;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.telephone-list{
    padding: 15px;
    background: #f3f3f3;
}

.telephone-list li {
    list-style: none;
    margin-bottom: 18px;
}

.telephone-list li a {
    color: #303030;
    font-size: 37px;
    text-decoration: none;
    transition: .3s;
}

.telephone-list li a:hover{
    color: #006fb9;
}

.test-box {
    width: 300px;
    height: 300px;
    border: 2px solid green;
    margin: 200px;
    background-color: chartreuse ;
}

.close{
    display: none;
}

.show{
    display: block;
}